<div class="row">
    <div class="col-md-3">
        {{> '@button' type='button' label='Button' modifier='primary' }}
    </div>
    <div class="col-md-3">
        {{> '@button' type='button' label='Disabled' modifier='primary' disabled=true }}
    </div>
    <div class="col-md-3">
        {{> '@button' label='Small' type='button' modifier='primary btn-sm' }}
    </div>
</div>
