<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/bsoft.css' }}">
    <title>{{ _target.label }} | {{ _config.project.title }} | - Component Preview</title>
</head>
<body>
<div class="container">
    {{{ yield }}}
</div>
</body>
</html>
